* {
    padding: 0;
    margin: 0;
}

header {
    background-color: darkred;
    padding: 1em;
}
#header-logo {
    display: block;
    width: 66%;
    max-width: 300px;
    margin: 0 auto;
}

.menus {
    width: 90%;
    max-width: 350px;
    margin: auto;
    text-align: center;
    padding: 1em;
}

h1, h2, h3 {
    font-family: "Uncial Antiqua";
    padding-top: .7em;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-family: "DM Serif Display";
    font-size: 1.4em;
    margin-top: 0.5em;
}

p {
    font-family: "Barlow Condensed";
    font-size: 1.4em;
}



#menu-selector a {
    padding-top: 5em;
    font-family: "Barlow Condensed";
    font-size: 1.4em;
    
}

#sub-menu-selector a {
    font-family: "Barlow Condensed";
    font-size: 1.2em;
}

.sauces {
    font-weight: 500;
    padding: 0em;
}


#tacos {
    margin-top: 0em;
    padding: 0em;
}

.taco {
    font-family: "DM Serif Display";
    font-size: 1.3em;
}

